---
import ThemeSelect from "./ThemeSelect.astro";
const today = new Date();

import { SITE_URL, SITE_AUTHOR, SITE_AUTHOR_BIO } from "../consts";
---

<footer class="self-end px-6 pb-12 text-center md:col-start-1 md:row-start-3">
  <ul>
    <li class="inline-block">
      <a
        href="https://github.com/kaishin"
        rel="me"
        class="text-purple-500 dark:text-banana">GitHub</a
      >
      <span class="px-3 text-stone-300 opacity-50 dark:text-ash">/</span>
    </li>
    <li class="inline-block">
      <a
        href="https://mastodon.social/@redalemeden"
        rel="me"
        class="text-purple-500 dark:text-banana"
      >
        Mastodon</a
      >
    </li>
  </ul>
  <div class="h-card hidden">
    <a class="p-name u-url" href={SITE_URL}>
      {SITE_AUTHOR}
    </a>
    <img
      class="u-photo"
      src={SITE_URL + "/author-photo.jpg"}
      alt={SITE_AUTHOR}
    />
    <p class="p-note">{SITE_AUTHOR_BIO}</p>
  </div>
  <span class="block pb-6 text-stone-400 dark:text-ash">
    <em>&copy;</em> 2009-{today.getFullYear()} Reda Lemeden
  </span>

  <ThemeSelect />
</footer>
