---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  name: string;
  image: string;
  year: string;
  state: string;
  url: string;
  description: string;
}

const { name, image, year, url, description } = Astro.props;

const imagePath = "/src/assets/images/projects/" + image;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/projects/*.{jpeg,jpg,png,gif}",
);
if (!images[imagePath]) throw new Error(`Image ${imagePath} not found`);
const imageSrc = images[imagePath]();
---

<article
  class="overflow-hidden rounded-2xl bg-white shadow transition-transform duration-300 ease-linear hover:scale-105 dark:bg-slate-950 dark:shadow-none"
>
  <a href={url}>
    <Image src={imageSrc} class="max-w-full" alt={name} />

    <div class="p-6">
      <h5
        class="mx-0 mb-2 mt-0 text-sm font-semibold uppercase tracking-widest"
      >
        {name}
        <span class="text-stone-500 dark:text-ash">({year})</span>
      </h5>
      <p class="text-sm font-light tracking-wider text-stone-500 dark:text-ash">
        {description}
      </p>
    </div>
  </a>
</article>
